@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.938);
}

header {
  max-width: 1440;
  background-image: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(32, 30, 30, 0.9) 100%
  );
  margin: 0 auto;
}

/* nav styles starts */

.nav {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 58px;
}

.nav-icon {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-items {
  width: 465px;
  height: 46px;
  display: flex;
  align-items: center;
  gap: 47px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.nav-item {
  list-style: none;
  font-size: 1.1rem;
}
.home {
  background-color: rgb(230, 83, 60);
  margin-right: 20px;
  border-radius: 46px;
  padding: 8px 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.bar {
  display: none;
}

/* hero section styles */

.hero-section {
  width: 1060px;
  height: 580px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.hero-content {
  width: 520px;
  height: 440px;
  margin-right: 160px;
}
.hero-tittle {
  color: rgb(255, 255, 255);
  font-size: 4.8rem;
  margin-bottom: 25px;
}
.shape {
}
.hero-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
.btn-primary {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 42px;
  background-color: rgb(230, 83, 60);
  margin-top: 35px;
  cursor: pointer;
}
.btn-secondady {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  background-color: rgba(0, 0, 0, 0.445);
  margin-left: 14px;
  cursor: pointer;
}

.hero-img-box {
  width: 349px;
  height: 580px;
  position: relative;
}

.hero-img {
}
.video-tutorial {
  display: flex;
  align-items: center;
  gap: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px 24px;
  position: absolute;
  bottom: 63px;
  left: -100px;
}
.red-circle {
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}
.tutorial-number {
  font-size: 1.5rem;
  color: rgb(250, 250, 249);
  font-weight: 900;
  text-align: start;
}
.tutorial-text {
  color: rgba(239, 237, 232, 0.65);
}

.workout-videos {
  text-align: start;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 16px 24px;
  position: absolute;
  top: 120px;
  right: -35px;
}
.workout-number {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
}
.workout-text {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
}
/* header styles end */

/* habit styles starts */

.habit {
  width: 1044px;
  height: 452px;
  /* border: 1px solid white; */
  margin: 0 auto;
  margin-top: 100px;
}
.habit-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.habit-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}
.habit-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 58px;
}
.movement,
.time,
.practice,
.weight-loss {
  width: 231px;
  height: 274px;
  margin: 0 auto;
}
.habit-img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.habit-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.habit-text {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
}

/* run section styles start */
.run {
  width: 1060px;
  height: 371px;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.run-content {
  width: 443px;
  height: 290px;
}
.run-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-bottom: 14px;
}
.run-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
.run-img {
  width: 366px;
  height: 312px;
}
.run-img img {
  width: 100%;
  height: 100%;
  border-radius: 18px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .nav {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .nav-items {
    display: none;
  }
  .bar {
    display: block;
    font-size: 1.8rem;
    color: white;
  }
  .hero-section {
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 30px 0;
  }
  .hero-content {
    width: 90%;
    padding: 20px;
  }
  .hero-tittle {
    font-size: 2.25rem;
  }
  /* .btn-primary {
    font-size: 1rem;
    padding: 10px 24px;
  }
  .btn-secondady {
    font-size: 1rem;
    padding: 10px 24px;
  } */
  .hero-img-box {
    width: 100%;
    height: auto;
  }

  .hero-img {
    width: 90%;
  }
  .video-tutorial {
    left: 0;
    bottom: 240px;
    gap: 7px;
    padding: 15px 18px;
  }
  .red-circle {
    width: 30.24px;
    height: 30.24px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
  }
  .tutorial-number {
    font-size: 1.1rem;
  }
  .tutorial-text {
    font-size: 0.8rem;
  }
  .workout-videos {
    top: 100px;
    right: 10px;
    padding: 12px 18px;
  }
  .workout-number {
    font-size: 1.8rem;
  }
  .workout-text {
    font-size: 0.6rem;
  }

  /* habit section responsive */
  .habit {
    width: 100%;
    height: auto;
  }
  .habit-title {
    font-size: 2rem;
  }
  .habit-details {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  /* run section  */
  .run {
    width: 95%;
    height: auto;
    flex-direction: column;
    padding: 30px 10px;
  }
  .run-content {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }
  .run-img {
    width: 90%;
    height: auto;
  }
}
