@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background-color: rgba(0, 0, 0, 0.938);
}

header {
  max-width: 1440px;
  background-image: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(32, 30, 30, 0.9) 100%
  );
  margin: 0 auto;
}

/* nav styles starts */

.nav {
  max-width: 1060px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 58px;
}

.nav-icon {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-items {
  width: 465px;
  height: 46px;
  display: flex;
  align-items: center;
  gap: 47px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 39px;
}
.nav-item {
  list-style: none;
  font-size: 1.1rem;
}
.home {
  background-color: rgb(230, 83, 60);
  margin-right: 20px;
  border-radius: 46px;
  padding: 8px 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.bar {
  display: none;
}

/* hero section styles */

.hero-section {
  width: 1060px;
  height: 580px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
}
.hero-content {
  width: 520px;
  height: 440px;
  margin-right: 160px;
}
.hero-tittle {
  color: rgb(255, 255, 255);
  font-size: 4.8rem;
  margin-bottom: 25px;
}
.shape {
  font-family: "Miama", sans-serif;
  font-size: 9rem;
  font-weight: 400;
  line-height: 85px;
}
.hero-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}
.btn-primary {
  font-size: 1.1rem;
  font-weight: 600;

  width: 224px;
  height: 54px;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 42px;
  background-color: rgb(230, 83, 60);
  margin-top: 35px;
  cursor: pointer;
}
.btn-secondary {
  font-size: 1.1rem;
  font-weight: 600;
  padding: 16px 40px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 42px;
  margin-top: 35px;
  background-color: rgba(0, 0, 0, 0.445);
  margin-left: 14px;
  cursor: pointer;
}
.btn-primary-res {
  display: none;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 42px;
  background-color: rgb(230, 83, 60);
  margin-top: 35px;
  cursor: pointer;
}
.hero-img-box {
  width: 349px;
  height: 580px;
  position: relative;
}

.hero-img {
}
.video-tutorial {
  display: flex;
  align-items: center;
  gap: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px 24px;
  position: absolute;
  bottom: 63px;
  left: -100px;
}
.red-circle {
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}
.tutorial-number {
  font-size: 1.5rem;
  color: rgb(250, 250, 249);
  font-weight: 900;
  text-align: start;
}
.tutorial-text {
  color: rgba(239, 237, 232, 0.65);
}

.workout-videos {
  text-align: start;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 16px 24px;
  position: absolute;
  top: 120px;
  right: -35px;
}
.workout-number {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
}
.workout-text {
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
}
/* header styles end */

/* habit styles starts */

.habit {
  width: 1044px;
  height: 452px;
  /* border: 1px solid white; */
  margin: 0 auto;
  margin-top: 100px;
}
.habit-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.habit-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 10px;
  text-align: center;
}
.habit-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-top: 58px;
}
.movement,
.time,
.practice,
.weight-loss {
  width: 231px;
  height: 274px;
  margin: 0 auto;
}
.habit-img {
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin-bottom: 20px;
}
.habit-name {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
.habit-text {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
  margin-top: 6px;
}

/* run section styles start */
.run {
  width: 1060px;
  height: 371px;
  margin: 0 auto;
  margin-top: 100px;
  /* border: 1px solid white; */
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.run-content {
  width: 443px;
  height: 290px;
}
.run-title {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-bottom: 14px;
}
.run-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
.run-img {
  width: 366px;
  height: 312px;
  border-radius: 18px;
  overflow: hidden;
}
.run-img img {
  width: 100%;
  transform: scale(3.25);
  translate: -150px 130px;
}

/* BMI CALC STYLES START HERE */
.bmi-tittle-box {
  width: 671px;
  height: 120px;
  margin: 0 auto;
  margin-bottom: 88px;
}
.bmi-tittle {
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.bmi-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 14px;
}
.bmi-calc-chart-container {
  max-width: 1440px;
  height: 487px;
  margin: 0 auto;
  border-radius: 8px;
  background: rgb(34, 34, 34);
  display: flex;
  align-items: center;
}
.bmi-calc-chart-content {
  width: 1060px;
  height: 386px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.calc-title {
  font-size: 1.75rem;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.calc-description {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 14px;
  margin-bottom: 34px;
}
table {
  width: 310px;
  height: 216px;
  margin-top: 50px;
}
table,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}
td {
  color: rgba(255, 255, 255, 0.5);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
}
.thead {
  color: white;
}
.bmi-form {
  width: 577px;
  height: 386px;
}
input {
  width: 282.5px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  padding: 12px 40px 12px 20px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.sex {
  width: 282.5px;
  height: 48px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 12px;
  border: none;
  border-radius: 8px;
  padding: 12px 40px 12px 20px;
  border-right: 20px solid transparent;
}
.factor {
  width: 570px;
  height: 48px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  padding: 12px 40px 12px 20px;
  border-right: 20px solid transparent;
}

/* TEAM SECTION SYLES STARTS HERE */

.team-section {
  width: 1060px;
  height: 782px;
  margin: 0 auto;
  margin-top: 88px;
}
.team-title {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.team-description {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  width: 671px;
  margin: auto;
}
.team-details {
  /* width: 1060px;
  height: 604px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 78px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 18px;
}
.team {
  width: 326.67px;
  height: 272px;
  position: relative;
}
.trainer-img {
  width: 326.67px;
  height: 272px;
  border-radius: 18px;
  filter: brightness(70%);
}
.team-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.team-name {
  color: white;
}
.trainer {
  color: rgba(255, 255, 255, 0.5);
}

/* OFFER SECTION STYLES STARTS */
.offer-container {
  width: 1060px;
  height: 550px;
  margin: 0 auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.cart-1,
.cart-3,
.cart-4 {
  background-color: rgba(255, 255, 255, 0.1);
  width: 250px;
  height: 450px;
  padding: 30px;
  border-radius: 12px;
}
.cart-2 {
  background-color: rgb(230, 83, 60);
  width: 250px;
  height: 520px;
  padding: 30px;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}
.best-offer {
  background-color: white;
  font-size: 0.9rem;
  display: inline-block;
  padding: 10px 50px;
  transform: rotate(35deg);
  position: absolute;
  right: -45px;
  top: 8px;
}
.package-name {
  color: rgb(230, 83, 60);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.package-name2 {
  color: white;
}
.package-price {
  color: white;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.package-month {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  margin-bottom: 30px;
}
.offer-lists {
  list-style: none;
}
.offer-lists li {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 12px;
}
.btn-offer {
  color: rgb(255, 255, 255);
  background-color: rgb(230, 83, 60);
  width: 180px;
  height: 47px;
  border: none;
  border-radius: 12px;
  margin-top: 30px;
}
.btn-offer-2 {
  background-color: rgba(0, 0, 0, 0.9);
  margin-top: 70px;
}
/* FOOTER STYLES STARTS */
footer {
  max-width: 1440px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  margin-top: 100px;
}
.footer-box {
  width: 1059px;
  height: 249px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 80px;
}
.footer-content {
  width: 443px;
  height: 176px;
  margin-top: 66px;
}
.footer-description {
  font-size: 0.9rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  margin-top: 20px;
}
.footer-nav {
  width: 181px;
  height: 249px;
  margin-top: 66px;
  margin-left: 100px;
}
.get-started {
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer-li {
  list-style: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.hr {
  width: 80%;
  margin: auto;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 50px;
}
.copyright {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-bottom: 50px;
}

/* responsive */
@media screen and (max-width: 576px) {
  .nav {
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
  }
  .nav-items {
    display: none;
  }
  .bar {
    display: block;
    font-size: 1.8rem;
    color: white;
  }
  .hero-section {
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  .hero-content {
    width: 95%;
    height: auto;
    padding: 20px;
  }
  .hero-tittle {
    font-size: 2.25rem;
    line-height: 20px;
    width: 70%;
  }
  .shape {
    font-size: 4.2rem;
    font-weight: 200;
  }
  .btn-container {
    display: flex;
  }
  .btn-primary {
    display: none;
  }
  .btn-primary-res {
    display: block;
    font-size: 1rem;
    padding: 10px 24px;
  }
  .btn-secondary {
    font-size: 1rem;
    padding: 10px 24px;
  }
  .hero-img-box {
    width: 100%;
    height: auto;
  }

  .hero-img {
    width: 90%;
    margin-left: 30px;
  }
  .video-tutorial {
    left: 0;
    bottom: 240px;
    gap: 7px;
    padding: 15px 18px;
  }
  .red-circle {
    width: 30.24px;
    height: 30.24px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
  }
  .tutorial-number {
    font-size: 1.1rem;
  }
  .tutorial-text {
    font-size: 0.8rem;
  }
  .workout-videos {
    top: 130px;
    right: 10px;
    padding: 12px 18px;
  }
  .workout-number {
    font-size: 1.8rem;
  }
  .workout-text {
    font-size: 0.6rem;
  }

  /* habit section responsive */
  .habit {
    width: 100%;
    height: auto;
  }
  .habit-title {
    font-size: 2rem;
  }
  .habit-details {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  /* run section  */
  .run {
    width: 95%;
    height: auto;
    flex-direction: column;
    padding: 30px 10px;
  }
  .run-content {
    width: 90%;
    height: auto;
    margin-bottom: 30px;
  }
  .run-title {
    font-size: 2rem;
  }
  .run-btn {
    display: block;
  }
  .run-img {
    width: 90%;
    height: auto;
  }
  .run-img img {
    transform: none;
    translate: 0;
  }
  /* bmi section responsive */
  .bmi-tittle-box {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
  }
  .bmi-tittle {
    font-size: 2rem;
  }

  .bmi-calc-container {
    width: 100%;
    height: auto;
  }
  .bmi-calc-chart-container {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .bmi-calc-chart-content {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 42px;
  }
  .calc-title {
    font-size: 1rem;
  }
  .bmi-form {
    width: 100%;
  }
  input,
  .sex {
    width: 45%;
  }
  .factor {
    width: 92%;
  }
  .calc-btn {
    display: block;
  }

  /* TEAM SECTION RESPONSIVE */

  .team-section {
    width: 100%;
    height: auto;
  }
  .team-title {
    font-size: 2rem;
  }
  .team-description {
    width: 80%;
  }
  .team-details {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
  .team {
    margin: auto;
  }
  /* OFFER SECTION RESPONSIVE */

  .offer-container {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .cart-1,
  .cart-2,
  .cart-3,
  .cart-4 {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
  }

  .btn-offer-2 {
    margin-top: 30px;
  }
  /* FOOTER SECTION RESPONSIVE */

  .footer {
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
  }
  .footer-box {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .footer-content {
    width: 80%;
    padding-left: 30px;
  }
  .footer-nav {
    margin-top: 20px;
    margin-left: 30px;
    height: auto;
  }
}
